h1{
    font-family: Arial, "Times New Roman";
    font-size: 22px;
    font-style: italic;
    font-weight: 100;  
    text-decoration: none;
    text-indent: 30px;
    text-transform: uppercase;
    color:#FF0000;
    letter-spacing: -5px;
    line-height: 20px;
}
a{
    text-decoration: none;
}
p{
    line-height: 30px;
    font-size: 22px;
    text-indent: 30px;
}