*{
    margin: 0%;
    padding: 0%;
}
.wrapper{
    width: 80%;
    margin:0 auto;
}
.videowrapper{
    position: relative;
    padding: top 25px; ;
    padding-bottom: 56.25%;
    height: 0px;
}
.videowrapper iframe{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    top: 0;
    width:80%;
    height:80%;
    
}